This notebooks will be finished when:
- The datetime column is split into Year, Month, Day
- We will combine the estimated diameter min and max columns
- And we will return the dataset containing only the data for training the model

In [1]:
import pandas as pd

After importing the needed libraries and reading the dataset file we will start the checklist.

In [2]:
df = pd.read_csv('../data/processed/p_asteroids.csv')

We will turn the close approach date field into the corresponding year, month, day columns.

In [3]:
df['close_approach_date'] = pd.to_datetime(df['close_approach_date'], errors='coerce')
df['year'] = df['close_approach_date'].dt.year
df['month'] = df['close_approach_date'].dt.month
df['day'] = df['close_approach_date'].dt.dayofyear

Now we will create the estimated diameter range.

In [4]:
df['estimated_diameter_range'] = df['estimated_diameter_kilometers_estimated_diameter_max'] - df['estimated_diameter_kilometers_estimated_diameter_min']

Now we will get one more look at the dataset and choose the columns to return to the feature engineered file.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40256 entries, 0 to 40255
Data columns (total 12 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   id                                                    40256 non-null  object
 1   absolute_magnitude_h                                  40256 non-null  float64
 2   estimated_diameter_kilometers_estimated_diameter_min  40256 non-null  float64
 3   estimated_diameter_kilometers_estimated_diameter_max  40256 non-null  float64
 4   is_potentially_hazardous_asteroid                     40256 non-null  int64
 5   close_approach_date                                   40256 non-null  datetime64[ns]
 6   relative_velocity_km_per_hr                           40256 non-null  float64
 7   miss_distance_kilometers                              40256 non-null  float64
 8   year                                                  40256 non-null  int32
 9   month                                                 40256 non-null  int32
 10  day                                                   40256 non-null  int32
 11  estimated_diameter_range                              40256 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(3), int64(1), object(1)
memory usage: 3.2+ MB

In [6]:
data = df[['absolute_magnitude_h','relative_velocity_km_per_hr', 'miss_distance_kilometers', 'year', 'month', 'day', 'estimated_diameter_range', 'is_potentially_hazardous_asteroid']]

In [7]:
data.head()

,absolute_magnitude_h,relative_velocity_km_per_hr,miss_distance_kilometers,year,month,day,estimated_diameter_range,is_potentially_hazardous_asteroid
0,10.40,20083.029075,4.711273e+07,1900,12,361,27.327338,0
1,15.59,12405.704411,2.556290e+08,1909,8,233,2.503787,0
2,13.81,25545.505209,2.046181e+07,1974,1,4,5.683257,0
3,9.18,22693.919080,2.926518e+08,1910,2,56,47.928886,0
4,17.37,38772.626612,2.751287e+07,1908,3,74,1.103055,0

This is the finished version of the feature engineered dataset. The scaling will be done after splitting the train and test data.