This notebooks will be finished when:
- The datetime column is split into Year, Month, Day
- We will combine the estimated diameter min and max columns
- And we will return the dataset containing only the data for training the model

In [50]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, Normalizer

After importing the needed libraries and reading the dataset file we will start the checklist.

In [51]:
df = pd.read_csv('../data/processed/p_asteroids.csv')

We will turn the close approach date field into the corresponding year, month, day columns.

In [52]:
df['close_approach_date'] = pd.to_datetime(df['close_approach_date'], errors='coerce')
df['year'] = df['close_approach_date'].dt.year
df['month'] = df['close_approach_date'].dt.month
df['day'] = df['close_approach_date'].dt.dayofyear

Now we will create the estimated diameter range.

In [53]:
df['estimated_diameter_range'] = df['estimated_diameter_kilometers_estimated_diameter_max'] - df['estimated_diameter_kilometers_estimated_diameter_min']

Now we will get one more look at the dataset and choose the columns to return to the feature engineered file.

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40256 entries, 0 to 40255
Data columns (total 12 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   id                                                    40256 non-null  object
 1   absolute_magnitude_h                                  40256 non-null  float64
 2   estimated_diameter_kilometers_estimated_diameter_min  40256 non-null  float64
 3   estimated_diameter_kilometers_estimated_diameter_max  40256 non-null  float64
 4   is_potentially_hazardous_asteroid                     40256 non-null  int64
 5   close_approach_date                                   40256 non-null  datetime64[ns]
 6   relative_velocity_km_per_hr                           40256 non-null  float64
 7   miss_distance_kilometers                              40256 non-null  float64
 8   year                                                  40256 non-null  int32
 9   month                                                 40256 non-null  int32
 10  day                                                   40256 non-null  int32
 11  estimated_diameter_range                              40256 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(3), int64(1), object(1)
memory usage: 3.2+ MB

In [ ]:
data = df[['absolute_magnitude_h','relative_velocity_km_per_hr', 'miss_distance_kilometers', 'year', 'month', 'day', 'estimated_diameter_range', 'is_potentially_hazardous_asteroid']]

In [ ]:
data.head()

,absolute_magnitude_h,relative_velocity_km_per_hr,miss_distance_kilometers,year,month,day,estimated_diameter_range,is_potentially_hazardous_asteroid
0,-2.344090,-1.050462,0.083304,-1.219021,1.541236,1.640065,48.622641,0
1,-1.441292,-1.348809,3.812080,-1.036463,0.421086,0.463627,4.186406,0
2,-1.750922,-0.838186,-0.393279,0.282009,-1.539177,-1.641096,9.877925,0
3,-2.556308,-0.949001,4.474138,-1.016179,-1.259140,-1.163168,85.501136,0
4,-1.131662,-0.324170,-0.267189,-1.056747,-0.979102,-0.997731,1.678980,0